/* Write you own CSS here */
img {
    width: 100%;
  }

  video {
    width: 100%;
  }
  
  .masonry {
      column-count: 3;
      column-gap: 16px;
  }
  
  .masonry .mItem {
    display: inline-block;
    margin-bottom: 16px;
    width: 100%;
  }
  
  @media (max-width: 1199px) {
    .masonry {
      column-count: 2;
    }
  }
  
  @media (max-width: 991px) {
    .masonry {
      column-count: 1;
    }
  }
  
  @media (max-width: 767px) {
    .masonry {
      column-count: 1;
    }
  }
  


